<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">

        <title>Quantum Portfolio</title>
    </head>
    <body class="container-md bg-dark">
        <nav id="navbar" class="mb-3 mt-3">
            <ul class="nav nav-tabs justify-content-center gap-2 text-center">
                <li class="nav-item flex-fill">
                    <a href="{{url_for('home')}}" class="nav-link active text-dark" aria-current="page">Home</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('pricing')}}" class="nav-link text-light">Pricing</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('portfolio')}}" class="nav-link text-light">Portfolio</a>
                </li>
                <li class="nav-item dropdown flex-fill">
                    <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu text-center">
                        {% if 'user_id' not in session or session['user_id'] == None %}
                        <li><a href="{{url_for('signup')}}" class="dropdown-item text-dark">Sign up</a></li>
                        <li><a href="{{url_for('login')}}" class="dropdown-item text-dark">Log in</a></li>
                        {% else %}
                        <li><a href="{{url_for('account')}}" class="dropdown-item text-dark">View Account</a></li>
                        <li><a href="{{url_for('logout')}}" class="dropdown-item text-dark">Log out</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('about')}}" class="nav-link text-light">About</a>
                </li>
            </ul>
        </nav>
    
        <!-- Add space -->
        <div class="mb-5"></div>

        <!-- Start Stock Search -->
        <div class="container justify-content-center mb-5 bg-dark">
            <form class="input-group" method="POST">
                <span class="input-group-text bg-dark text-light">
                    Stock Search
                </span>
                <input type="search" aria-label="Stock Search" class="form-control" name="stock_search" id="stock_search" placeholder="Stock" required>
                <button class="btn btn-dark btn-outline-light" type="submit" id="search_button">Search</button>
            </form>
        </div>
        <!-- End Stock Search -->
        
        <!-- Start Stock Prices -->
        <div class="row rows-cols-auto justify-content-center text-center gap-2 mb-5">
            {% for i in range(stocks_len) %}
            <div class="col mb-4" style="min-width: 15rem; max-width: 20rem;">
                <div class="card bg-dark text-light border-light">
                    <h4 class="card-header card-title">
                        {{ stocks['Ticker'][i] }}
                    </h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark text-light">
                            <div class="row">
                                <div class="col">
                                    <b>Open:</b>
                                </div>
                                <div class="col">
                                    {{ stocks['Open'][i] }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-dark text-light">
                            <div class="row">
                                <div class="col">
                                    <b>High:</b>
                                </div>
                                <div class="col">
                                    {{ stocks['High'][i] }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-dark text-light">
                            <div class="row">
                                <div class="col">
                                    <b>Low:</b>
                                </div>
                                <div class="col">
                                    {{ stocks['Low'][i] }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-dark text-light">
                            <div class="row">
                                <div class="col">
                                    <b>Close:</b>
                                </div>
                                <div class="col">
                                    {{ stocks['Close'][i] }}
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item bg-dark text-light">
                            <div class="row">
                                <div class="col">
                                    <b>Volume:</b>
                                </div>
                                <div class="col">
                                    {{ stocks['Volume'][i] }}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <small class="card-footer text-muted">
                        {{ stocks['Date'][i] }}
                    </small>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End Stock Prices -->

        <!-- Add space -->
        <div class="mb-5"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>