<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest')}}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/general.css')}}">

        <title>Portfolio | Quantum Portfolio</title>
    </head>
    <body class="container-md bg-dark">
        <nav id="navbar" class="mb-3 mt-3">
            <ul class="nav nav-tabs justify-content-center gap-2 text-center">
                <li class="nav-item flex-fill">
                    <a href="{{url_for('home')}}" class="nav-link text-light">Home</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('pricing')}}" class="nav-link text-light">Pricing</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('portfolio')}}" class="nav-link active text-dark" aria-current="page">Portfolio</a>
                </li>
                <li class="nav-item dropdown flex-fill">
                    <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu text-center">
                        {% if 'user_id' not in session or session['user_id'] == None %}
                        <li><a href="{{url_for('signup')}}" class="dropdown-item text-dark">Sign up</a></li>
                        <li><a href="{{url_for('login')}}" class="dropdown-item text-dark">Log in</a></li>
                        {% else %}
                        <li><a href="{{url_for('account')}}" class="dropdown-item text-dark">View Account</a></li>
                        <li><a href="{{url_for('logout')}}" class="dropdown-item text-dark">Log out</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('about')}}" class="nav-link text-light">About</a>
                </li>
            </ul>
        </nav>
    
        <!-- Add space -->
        <div class="mb-4"></div>

        {% if (portfolios|length > 0 and portfolios[0]['status'] != 'pending') or portfolios|length == 0 %}
        <div class="row">
            <form method="POST">
                <button type="submit" name="generate_portfolio" id="generate_portfolio" class="form-control btn-dark border border-1">Generate Portfolio</button>
            </form>
        </div>
        {% else %}
        <div class="row">
            <form method="POST">
                <button type="submit" name="generate_portfolio" id="generate_portfolio" class="form-control btn-dark border border-1" disabled>Generate Portfolio</button>
            </form>
        </div>
        {% endif %}

        <!-- Add space -->
        <div class="mb-5"></div>

        <!-- Start Portfolios -->
        <div class="row rows-cols-auto justify-content-center text-center gap-2 mb-5">
            {% for ptfo in portfolios %}
            <div class="col mb-4" style="min-width: 20rem; max-width: 35rem;">
                <div class="card bg-dark border-light">
                    <div class="card-header text-light">{{ ptfo['status'] }}</div>
                    <div class="card-body text-light">
                        {% if ptfo['status'] == 'complete' %}
                        <h3 class="card-title text-light mb-4">
                            {% for stock in ptfo['chosen_stocks'] %}
                            {{ stock }} 
                            {% endfor %}
                        </h3>
                        {% endif %}
                        <p class="card-text mb-2 text-light">
                            {% for stock in ptfo['possible_stocks'] %}
                            {{ stock }} 
                            {% endfor %}
                        </p>
                    </div>
                    <small class="card-footer text-muted">
                        {{ ptfo['date'] }}
                    </small>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- End Portfolios -->

        <!-- Add space -->
        <div class="mb-5"></div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>