<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <script src="{{url_for('static', filename='js/signup.js')}}"></script>

        <title>Sign up | Quantum Portfolio</title>
    </head>
    <body class="container-md bg-dark">
        <!-- Start Navigation Bar -->
        <nav id="navbar" class="mb-3 mt-3">
            <ul class="nav nav-tabs justify-content-center gap-2 text-center">
                <li class="nav-item flex-fill">
                    <a href="{{url_for('home')}}" class="nav-link text-light">Home</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('pricing')}}" class="nav-link text-light">Pricing</a>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('portfolio')}}" class="nav-link text-light">Portfolio</a>
                </li>
                <li class="nav-item dropdown flex-fill">
                    <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu text-center">
                        {% if 'user_id' not in session or session['user_id'] == None %}
                        <li><a href="{{url_for('signup')}}" class="dropdown-item active text-light" aria-current="page">Sign up</a></li>
                        <li><a href="{{url_for('login')}}" class="dropdown-item text-dark">Log in</a></li>
                        {% else %}
                        <li><a href="{{url_for('account')}}" class="dropdown-item text-dark">View Account</a></li>
                        <li><a href="{{url_for('logout')}}" class="dropdown-item text-dark">Log out</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item flex-fill">
                    <a href="{{url_for('about')}}" class="nav-link text-light">About</a>
                </li>
            </ul>
        </nav>
        <!-- End Navigation Bar -->
    
        <!-- Add space -->
        <div class="mb-5"></div>

        <!-- Start sign up Form -->
        <form class="container-xl text-light text-center rounded border border-5" method="POST" style="max-width: 80%;">
            <!-- Add space -->
            <div class="mb-3"></div>
            <!-- Start error message-->
            {% if error != '' %}
            <h4 class="text-danger">{{error}}</h4>
            {% endif %}
            <!-- End error message-->
            <div class="row row-cols-auto justify-content-md-center g-5 mb-4" style="padding: 0 5px 0 5px;">
                <div class="col">
                    <div class="row justify-content-md-center">
                        <label for="emailInput" class="col-form-label-lg">Email Address</label>
                    </div>
                    <div class="row">
                        <input type="email" class="form-control-lg" id="emailInput" name="email" placeholder="name@email.com" required>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label for="emailConfirmInput" class="col-form-label-lg">Confirm Email Address</label>
                    </div>
                    <div class="row">
                        <input type="email" class="form-control-lg" id="emailConfirmInput" name="confirm_email" placeholder="name@email.com" oninput="confirmSignIn()" required>
                    </div>
                </div>
            </div>
            <div class="row row-cols-auto justify-content-md-center g-5 mb-4" style="padding: 0 5px 0 5px;">
                <div class="col">
                    <div class="row">
                        <label for="passwordInput" class="col-form-label-lg">Password</label>
                    </div>
                    <div class="row">
                        <input type="password" class="form-control-lg" id="passwordInput" name="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label for="passwordConfirmInput" class="col-form-label-lg">Confirm Password</label>
                    </div>
                    <div class="row">
                        <input type="password" class="form-control-lg" id="passwordConfirmInput" name="password" placeholder="Password" oninput="confirmSignIn()" required>
                    </div>
                </div>
            </div>
            <div class="row row-cols-auto justify-content-md-center g-5 mb-5" style="padding: 0 5px 0 5px;">
                <div class="col">
                    <div class="row">
                        <label for="subscriptionSelect" class="col-form-label-lg">Subscription Type</label>
                    </div>
                    <div class="row">
                        <select name="subscription" id="subscription" class="form-select-lg" aria-label="Subscription Type" required>
                            <option value="free" selected>Free</option>
                            <option value="basic" disabled>Basic</option>
                            <option value="premium" disabled>Premium</option>
                            <option value="enterprise" disabled>Enterprise</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row row-cols-auto justify-content-md-center g-5 mb-3" style="padding: 0 5px 0 5px;">
                <div class="col">
                    <button class="btn btn-light btn-lg" type="submit">Sign up</button>
                </div>
            </div>
            <div class="row row-cols-auto justify-content-md-center g-5 mb-2" style="padding: 15px 5px 0 5px;">
                <div class="col">
                    <a href="{{url_for('login')}}">Already signed up? Log in.</a>
                </div>
            </div>
        </form>
        <!-- End sign up Form -->

        <!-- Add space -->
        <div class="mb-5"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>